.Section{
    height: 50%;
    width: 100%;
    border: 1px solid royalblue;
    display: flex;
    /* background-color: #f0f; */

}


























































































































h1{
    
    
    
    

    color: aliceblue;
    font-size: 30px;

}

