.SideBarContainer{
    border: 1px solid #000;
    height: 100vh;
    flex: 0.2;
    color: white;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #040404;
}
.SideBarContainer > hr{
    border: 1px solid #282828;
    margin: 10px auto;
    width: 90%;
}


.sidebar-playlist{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}